<div id="loading" class="loading" *ngIf="!projects && stateStore.gitlabInformation.setupCompleted"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></div>
<!--<div id="loading-server-information" class="loading" *ngIf="!stateStore.gitlabInformation.setupCompleted"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></div>-->

<div id="search-project-by-id" *ngIf="projects">
  Search by id: <input type="text" pInputText [(ngModel)]="id"/> <button pButton type="button" (click)="findProject()" label="Find project"></button>
</div>

<div id="projectsoverview" *ngIf="projects">
  <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Find project">
  </div>
  <p-dataTable [value]="projects" selectionMode="single" [(selection)]="selectedproject"
               (onRowSelect)="onSelectProject($event)" [globalFilter]="gb" #dt>
    <p-column field="name_with_namespace" [style]="{'text-align': 'center', 'width': 'auto'}"
              header="Group / Project" filterMatchMode="contains"></p-column>
    <p-column field="created_at" [style]="{'text-align': 'center', 'width': 'auto'}" header="Creation date">
      <ng-template let-col let-project="rowData" pTemplate="body">
        {{project.created_at |date:'hh:mm - dd-MM-yyyy' }}
      </ng-template>
    </p-column>
    <p-column field="last_activity_at" [style]="{'text-align': 'center', 'width': 'auto'}" header="Last activity">
      <ng-template let-col let-project="rowData" pTemplate="body">
        {{project.last_activity_at |date:'hh:mm - dd-MM-yyyy' }}
      </ng-template>
    </p-column>
    <p-column field="http_url_to_repo" [style]="{'text-align': 'center', 'width': '10%'}" header="Repository">
      <ng-template let-col let-project="rowData" pTemplate="body">
        <a href="{{project.http_url_to_repo}}" TARGET="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>

